<h1>Listado de  correspondencias</h1>

<table>
  <tr>
    <th>Clave</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @correspondencias.each do |correspondencia| %>
  <tr>
    <td><%= correspondencia.clave %></td>
    <td><%= button_to 'Muestra', correspondencia, :method => :get %></td>
    <td><%= button_to 'Modifica', edit_correspondencia_path(correspondencia), :method => :get %></td>
    <td><%= button_to 'Elimina', correspondencia, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Nueva Correspondencia', new_correspondencia_path, :method => :get %>
<br/>
<%= button_to 'Ir a Estaciones', estaciones_path, :method => :get %>
